.footer_wrap {
  padding: 40px;
  background-color: $pointRed;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .footer_menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
  @media all and (max-width: 1024px) {
    padding: 24px 20px;
  }
  @media all and (max-width: 480px) {
    padding: 20px 16px;
  }
}
