header {
  position: relative;
  z-index: 10;
  &.fixed {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
  }
}

.pc_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px 40px;
  .logo {
    img {
      width: auto;
      height: 40px;
    }
  }
  .etc_menu_list {
    display: flex;
    align-items: center;
    gap: 12px;
    li {
      a {
        color: $pointRed;
      }
    }
  }
  .nav_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
    width: 100%;
    .menu_spread_btn {
      position: relative;
      width: 24px;
      height: 24px;
      span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #b6101a;
        border-radius: 2px;
        &:first-child {
          top: 2px;
        }
        &:nth-child(2) {
          top: calc(50% - 1px);
        }
        &:last-child {
          bottom: 2px;
        }
      }
    }
    .menu_list {
      display: flex;
      gap: 40px;
      width: 100%;
      justify-content: center;
      .menu {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          bottom: -8px;
          left: 0;
          width: 0;
          height: 4px;
          background-color: $pointRed;
          transition: 0.4s ease-in-out;
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
    .sub_group {
      position: absolute;
      left: 0;
      top: 92px;
      background-color: $pointRed;
      width: 100%;
      padding: 0 40px;
      display: flex;
      justify-content: center;
      gap: 40px;
      .sub_menu_list {
        display: flex;
        flex-direction: column;
        padding: 20px 8px;
        .label {
          font-family: $bbh;
          color: #fff;
          cursor: auto;
          margin-bottom: 8px;
        }
        a {
          padding: 8px 0;
          color: #fff;
        }
      }
    }
  }
}
/* 서브메뉴 토글 애니메이션 */
.submenu-fade-enter-active,
.submenu-fade-leave-active {
  transition: all 0.4s ease;
}

.submenu-fade-enter-from,
.submenu-fade-leave-to {
  opacity: 0;
  transform: translateY(-10px); /* 살짝 위에서 내려오는 느낌 */
}

.submenu-fade-enter-to,
.submenu-fade-leave-from {
  opacity: 1;
  transform: translateY(0);
}
