.home_wrapper {
  display: flex;
  background-color: $pointRed;
  @media all and (max-width: 1024px) {
    flex-direction: column;
  }
}

.preview_section {
  width: 48%;
  margin-bottom: 0;
  padding: 40px;
  height: 100dvh;
  overflow-y: auto;

  .home_img_box {
    width: 100%;
    height: 100%;
    position: relative;
    p {
      position: absolute;
      z-index: 1;
      font-family: $bbh;
      font-size: 32px;
      top: calc(50% - 16px);
      width: 100%;
      text-align: center;
      color: $pointRed;
      mix-blend-mode: overlay;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      &.filter-clarendon {
        filter: contrast(1.2) saturate(1.35);
      }
      &.filter-gingham {
        filter: brightness(1.05) hue-rotate(-10deg) saturate(0.85);
      }
      &.filter-juno {
        filter: contrast(1.15) saturate(1.8) brightness(1.05);
      }
      &.filter-lark {
        filter: brightness(1.1) saturate(1.2);
      }
      &.filter-reyes {
        filter: sepia(0.22) brightness(1.1) contrast(0.85) saturate(0.75);
      }
      &.filter-valencia {
        filter: sepia(0.15) saturate(1.5) brightness(1.1);
      }
      &.filter-willow {
        filter: grayscale(0.5) contrast(0.95) brightness(1.05);
      }
    }
  }
  .preview_box {
  }
  @media all and (max-width: 1024px) {
    width: 100%;
    height: 84dvh;
  }
}

.header_section {
  width: 4%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100dvh;
  border-right: 2px solid $pink;
  border-left: 2px solid $pink;
  > div {
    display: flex;
    justify-content: center;
    &:first-child,
    &:last-child {
      height: 33.3333%;
      padding: 40px 0;
    }
    &:first-child {
      align-items: flex-start;
    }
    &:last-child {
      align-items: flex-end;
      p {
        white-space: nowrap;
        writing-mode: sideways-rl;
        color: $pink;
      }
    }
  }
  h1 {
    font-family: $bbh;
    font-size: 40px;
    color: $pink;
    writing-mode: sideways-rl;
  }
  .logo {
    animation: spin 4s linear infinite;
    width: 100%;
    height: auto;
    border-radius: 100%;
    border: 2px solid $pink;
  }
  @media all and (max-width: 1024px) {
    width: 100%;
    height: 4dvh;
    flex-direction: row;
    border-right: none;
    border-left: none;
    border-top: 2px solid $pink;
    border-bottom: 2px solid $pink;
    > div {
      &:first-child,
      &:last-child {
        width: 33.3333%;
        height: 100%;
        padding: 0 40px;
        align-items: center;
      }
      &:first-child {
        justify-content: flex-start;
      }
      &:last-child {
        justify-content: flex-end;
        p {
          writing-mode: unset;
        }
      }
    }
    h1 {
      writing-mode: unset;
    }
  }
  @media all and (max-width: 768px) {
    h1 {
      font-size: 32px;
    }
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation_section {
  width: 48%;
  .menu_list {
    height: 100dvh;
    overflow-y: auto;
    > li {
      transition: opacity 0.3s ease;
      padding: 40px;
      min-height: 20dvh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      /*display: none;*/
      border-bottom: 2px solid $pink;
      &.visible {
        display: list-item;
      }
      &:last-child {
        border-bottom: none;
      }
      .menu_btn {
        cursor: pointer;
        text-decoration: none;
        color: $pink;
        user-select: none;
      }
      .sub_menu_list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .menu2 {
          color: #fff;
          position: relative;
          z-index: 0;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: $pink;
            transition: 0.4s;
            z-index: -1;
          }
          &:hover:before {
            width: 100%;
          }
        }
      }
    }
  }
  @media all and (max-width: 1024px) {
    width: 100%;
    height: 12dvh;
    nav {
      height: 100%;
    }
    .menu_list {
      display: flex;
      height: 100%;
      > li {
        min-height: unset;
        padding: 0;
        border-bottom: none;
        &.active {
          flex-direction: row;
          gap: 0;
          ul {
            flex-direction: row;
            width: max-content;
            border-left: 2px solid $pink;
            border-right: 2px solid $pink;
            .menu2 {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 20px;
              height: 100%;
            }
          }
          &:last-child {
            .menu_btn {
              border-right: none;
            }
          }
        }
        .menu_btn {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 40px;
          border-right: 2px solid $pink;
        }
      }
    }
  }
}
.slide-toggle-enter-active,
.slide-toggle-leave-active {
  transition: all 0.4s ease;
  overflow: hidden;
}

.slide-toggle-enter-from,
.slide-toggle-leave-to {
  max-height: 0;
  opacity: 0;
}

.slide-toggle-enter-to,
.slide-toggle-leave-from {
  max-height: 300px; /* 서브메뉴 높이에 맞게 조절 */
  opacity: 1;
}
