.product_wrap {
  .page_banner_box {
    width: 100%;
    height: 240px;
    overflow: hidden;
    position: relative;
    p {
      position: absolute;
      z-index: 1;
      font-family: $bbh;
      font-size: 32px;
      top: calc(50% - 16px);
      width: 100%;
      text-align: center;
      color: $pointRed;
      mix-blend-mode: overlay;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .tabs {
    overflow-x: auto;
    width: 100%;
    padding: 60px 40px 0;
    div {
      width: max-content;
      min-width: 100%;
      display: flex;
      padding-bottom: 4px;
      justify-content: center;
      gap: 20px;
      a.active {
        position: relative;
        font-weight: 600;
        &::before {
          content: '';
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $pointRed;
        }
      }
    }
  }
  .filter_box {
    position: relative;
    padding: 20px 40px 0;
    display: flex;
    justify-content: flex-end;
    .selected_filter {
      display: flex;
      padding: 12px;
      width: 120px;
      gap: 8px;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      border: 1px solid $pointRed;
      cursor: pointer;
    }
    .arrow {
      transition: transform 0.2s;
      &.open {
        transform: rotate(180deg);
      }
    }
    .filter_options {
      position: absolute;
      top: 100%;
      width: 120px;
      right: 40px;
      margin-top: 4px;
      padding: 0;
      list-style: none;
      border: 1px solid $pointRed;
      background: #fff;
      li {
        padding: 10px;
        cursor: pointer;
        &:hover {
          background: $selectPoint;
        }
      }
    }
  }
  article {
    padding: 40px;
  }
  @media all and (max-width: 1024px) {
    .page_banner_box {
      height: 200px;
      p {
        font-size: 28px;
      }
    }
    .tabs {
      padding: 40px 20px 0;
    }
    .filter_box {
      padding: 20px 20px 0;
    }
    article {
      padding: 32px 20px;
    }
  }
  @media all and (max-width: 480px) {
    .page_banner_box {
      height: 140px;
      p {
        font-size: 24px;
      }
    }
    .tabs {
      padding: 24px 16px 0;
      div {
        gap: 12px;
        padding-bottom: 2px;
        a.active::before {
          bottom: -2px;
        }
      }
    }
    .filter_box {
      padding: 20px 16px 0;
    }
    article {
      padding: 24px 16px;
    }
  }
}
