.observer_trigger {
  height: 1px;
  opacity: 0;
  pointer-events: none;
  margin-top: 50px;
}

h2 {
  font-family: $bbh;
  font-size: 32px;
  color: $pink;
  margin-bottom: 8px;
  @media all and (max-width: 1024px) {
    font-size: 28px;
  }
  @media all and (max-width: 768px) {
    font-size: 24px;
  }
}

.home_products_list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  li {
    border: 2px solid $pink;
    width: calc(50% - 10px);
  }
  @media all and (max-width: 1024px) {
  }
  @media all and (max-width: 840px) {
  }
  @media all and (max-width: 480px) {
    li {
      width: 100%;
    }
  }
}

// sub pages
.products_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  li {
    width: calc(25% - 15px);
    img {
      width: 100%;
    }
  }
  @media all and (max-width: 1024px) {
    li {
      width: calc(33.3333% - 14px);
    }
  }
  @media all and (max-width: 768px) {
    li {
      width: calc(50% - 10px);
    }
  }
  @media all and (max-width: 480px) {
    li {
      width: 100%;
    }
  }
}
