.product_detail_wrap {
  padding: 60px 40px 100px;
  @media all and (max-width: 1024px) {
    padding: 60px 20px 100px;
  }
  @media all and (max-width: 768px) {
    padding: 60px 20px 80px;
  }
  @media all and (max-width: 480px) {
    padding: 40px 16px 60px;
  }
}
// 상품 이미지
.product_info {
  display: flex;
  /* align-items: flex-end; */
  gap: 40px;
  .thumbnail_box {
    display: flex;
    gap: 12px;
    img {
      object-fit: cover;
      &.hover {
        border: 2px solid $pointRed;
      }
    }
    > img {
      width: 600px;
      height: 600px;
    }
    .thumbnails {
      display: flex;
      flex-direction: column;
      gap: 12px;
      img {
        width: 72px;
        height: 72px;
        cursor: pointer;
      }
    }
  }
  @media all and (max-width: 1024px) {
    flex-direction: column;
    gap: 28px;
    .thumbnail_box {
      justify-content: center;
    }
  }
  @media all and (max-width: 768px) {
    .thumbnail_box {
      > img {
        width: 520px;
        height: 520px;
      }
    }
  }
  @media all and (max-width: 480px) {
    gap: 32px;
    .thumbnail_box {
      flex-direction: column;
      gap: 8px;
      > img {
        width: 100%;
        height: 400px;
      }
      .thumbnails {
        flex-direction: row;
        justify-content: center;
        gap: 8px;
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
// 상품정보, 수량, 장바구니 버튼
.product_title_price_box {
  width: calc(40% - 20px);
  > div {
    margin-bottom: 20px;
    h2 {
      border-bottom: 1px solid $gray;
      padding-bottom: 20px;
    }
    .product_price {
      color: $pointRed;
      margin: 20px 0 28px;
    }
    .product_quantity {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: flex-end;
      button {
        width: 52px;
        height: 52px;
        border: 1px solid #000;
        position: relative;
        cursor: pointer;
        span {
          position: absolute;
          background-color: #000;
          &:first-child {
            width: 40%;
            height: 2px;
            top: calc(50% - 1px);
            left: 30%;
          }
          &:nth-child(2) {
            width: 2px;
            height: 40%;
            top: 30%;
            left: calc(50% - 1px);
          }
        }
      }
      input {
        width: 20%;
        height: 52px;
        text-align: center;
        border-bottom: 1px solid $gray;
      }
    }
  }
  .add_cart_btn {
    padding: 16px 20px;
    background-color: $pointRed;
    color: #fff;
    width: 100%;
    cursor: pointer;
  }
  @media all and (max-width: 1024px) {
    width: 100%;
    position: relative;
    > div {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      h2 {
        width: 100%;
      }
      .product_price {
        width: calc(64% - 10px);
        margin: 0;
      }
      .product_quantity {
        width: calc(36% - 10px);
        justify-content: flex-start;
        input {
          width: calc(100% - 112px);
        }
      }
    }
  }
  @media all and (max-width: 480px) {
    > div {
      gap: 12px;
      margin-bottom: 28px;
      h2 {
        padding-bottom: 12px;
      }
      .product_price {
        width: 100%;
      }
      .product_quantity {
        width: 100%;
        button {
          width: 40px;
          height: 40px;
        }
        input {
          width: calc(100% - 88px);
        }
      }
    }
    .add_cart_btn {
      padding: 12px 16px;
    }
  }
}
// 탭
.productdetails_tab_btn_wrap {
  margin: 40px 0;
  ul {
    display: flex;
    align-items: center;
    li {
      width: 33.3333%;
      a {
        text-align: center;
        padding: 12px 0;
        width: 100%;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #000;
        }
      }
      &:first-child {
        a::before {
          height: 2px;
          background-color: $pointRed;
        }
      }
    }
  }
  @media all and (max-width: 480px) {
    margin: 32px 0;
  }
}
// 상세정보
.productdetails_wrap {
  padding: 60px 40px 100px;
  .describe_box {
    margin-bottom: 60px;
    text-align: center;
  }
  .product_detaim_images_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    img {
      width: 80%;
      height: 400px;
      object-fit: cover;
    }
  }
  .product_detail_bottom_box {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  @media all and (max-width: 480px) {
    padding: 40px 0 60px;
    .product_detaim_images_box {
      img {
        width: 100%;
        height: 280px;
      }
    }
    .product_detail_bottom_box {
      margin-top: 40px;
    }
  }
}
// 리뷰, Q&A
.review_wrap,
.qna_wrap {
  padding: 60px 0 0;
  > div {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
    justify-content: space-between;
    h3 {
      color: $pointRed;
    }
    button {
      padding: 12px 16px;
      border: 1px solid #000;
    }
  }
  > p {
    border-top: 1px solid $gray;
    padding: 40px 0;
    text-align: center;
    border-bottom: 1px solid $gray;
  }
  table {
    tr {
      border-top: 1px solid $gray;
      border-bottom: 1px solid $gray;
    }
    thead tr {
      border-bottom: 1px solid $pointRed;
    }
    th,
    td {
      padding: 12px;
      font-size: 16px;
      &:first-child {
        width: 80%;
      }
    }
    th,
    td:last-child {
      text-align: center;
    }
    .content {
      text-align: left;
      position: relative;
      padding: 12px 16px 12px 28px;
      display: flex;
      gap: 8px;
      flex-direction: column;
      &::before {
        content: '';
        position: absolute;
        top: 14px;
        left: 12px;
        width: 8px;
        height: 8px;
        border-left: 1px solid $pointRed;
        border-bottom: 1px solid $pointRed;
      }
      .password {
        display: flex;
        gap: 8px;
        input {
          padding: 12px;
          border-bottom: 1px solid #000;
        }
        button {
          padding: 12px;
          background-color: $pointRed;
          color: #fff;
          text-align: center;
        }
      }
      img {
        width: 60%;
      }
    }
  }
  @media all and (max-width: 480px) {
    padding: 20px 0;
    > div {
      button {
        padding: 8px 12px;
      }
    }
  }
}
// 다른상품 스와이퍼
.random_products_wrap {
  padding: 100px 0 0;
  .swiper-slide {
    .slide_link {
      width: 100%;
      height: 100%;
      position: relative;
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
      .slide_name {
        position: absolute;
        bottom: 12px;
        left: 12px;
        color: #fff;
      }
    }
  }
  @media all and (max-width: 480px) {
    padding: 60px 0 0;
  }
}
