.home_product {
  .img_box {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin-bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media all and (max-width: 1024px) {
    }
  }
  .name_price_box {
    padding: 20px;
    border-top: 2px solid $pink;
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    h3 {
      width: 100%;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $pink;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @media all and (max-width: 1440px) {
        padding-bottom: 16px;
        margin-bottom: 16px;
      }
      @media all and (max-width: 480px) {
        padding-bottom: 12px;
        margin-bottom: 12px;
      }
    }
    .price_box {
      margin: 0;
      .clearance_price_box {
        display: flex;
        align-items: center;
        gap: 8px;
        .b_price {
          position: relative;
          &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $pointRed;
            top: calc(50% - 1px);
            left: 0;
          }
        }
      }
      .price_num {
        font-family: $bbh;
        color: #fff;

        font-size: 28px;
        @media all and (max-width: 1024px) {
          font-size: 24px;
        }
        @media all and (max-width: 768px) {
          font-size: 22px;
        }
        @media all and (max-width: 480px) {
          text-align: right;
        }
        &.b_price {
          font-size: 20px;
          @media all and (max-width: 1024px) {
            font-size: 18px;
          }
          @media all and (max-width: 768px) {
            font-size: 16px;
          }
        }
      }
    }
    .more_btn_box {
      text-align: right;
      .to_detail_btn {
        padding: 12px 16px;
        border: 1px solid #fff;
        border-radius: 48px;
        &:hover {
          background-color: #fff;
          color: $pointRed;
        }
      }
    }
    @media all and (max-width: 1440px) {
      padding: 12px 16px;
      .price_box {
        width: 100%;
        margin: 0 0 12px;
        .clearance_price_box {
          justify-content: space-between;
        }
        .price_num {
          font-size: 24px;
          &.b_price {
            font-size: 18px;
          }
        }
      }
      .more_btn_box {
        width: 100%;
        text-align: center;
        a {
          padding: 8px 12px;
          width: 100%;
        }
      }
    }
    @media all and (max-width: 480px) {
      flex-wrap: wrap;
      .price_box {
        width: 100%;
        margin: 0 0 12px;
        .clearance_price_box {
          justify-content: space-between;
        }
      }
      .more_btn_box {
        width: 100%;
        text-align: center;
        a {
          width: 100%;
        }
      }
    }
  }
}

// sub pages
.product_link {
  width: 100%;
  height: 100%;
}
.img_box {
  margin-bottom: 12px;
  img {
    width: 100%;
  }
}
.price_box {
  margin: 8px 0;
  .clearance_price {
    display: flex;
    gap: 8px;
    align-items: center;
    .b_price {
      font-size: 14px;
      color: #000;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        width: 100%;
        height: 1px;
        background-color: #000;
      }
    }
  }
  .price {
    font-size: 18px;
    font-weight: 500;
    color: $pointRed;
  }
  @media all and (max-width: 768px) {
    margin: 4px 0;
  }
}
.title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .badge {
    font-size: 12px;
    border-radius: 2px;
    padding: 4px;
    width: max-content;
    background-color: #efefef;
    &.clearance {
      color: $pointRed;
    }
  }
}
.item_cart_btn {
  margin-top: 12px;
  text-align: center;
  width: max-content;
  padding: 8px;
  border: 1px solid #000;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  @media all and (max-width: 480px) {
    width: 100%;
    margin-top: 8px;
  }
}
